<div class="container">
  <label for="serverName">Server Name</label>
  <input class="form-control" type="text" [(ngModel)]="serverName" trim />
  <button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer($event)"
  >
    Add New Server{{ serverName ? ": " + serverName.trim() : " " }}
  </button>
  <p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
  <ng-template #noServer><p>No servers are being created.</p></ng-template>
</div>
<hr />
<app-server></app-server>
<app-server></app-server>
